.hero {
  @media screen and (max-width: 1199px) {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
  background-color: #c4c4c4;
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  // background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //   url(../images/hero-img.jpg);
  //   Mobile screen
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero-mob@1x.jpg);
  // Mobile screen retina
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dpx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-mob@2x.jpg);
  }
  //   Tablet screen
  @media screen and (min-width: 481px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-tab@1x.jpg);
    // Tablet screen retina
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dpx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-tab@2x.jpg);
    }
  }
  //   Desktop screen
  @media screen and (min-width: 769px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero-desk@1x.jpg);
    // Desktop screen retina
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dpx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-desk@2x.jpg);
    }
  }
}

.hero__title {
  @media screen and (max-width: 1199px) {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.6;
  }
  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero__button {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  border: none;
  padding: 10px 32px;
  transition: background-color var(--trns);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
